{% assign navPages = collections.all | eleventyNavigation %}

<nav id="nav">  
  <ul>
    {%- for entry in navPages %}
      <li
        {% if entry.url == page.url %}
        class="current"
        {% elsif entry.url != '/' and page.url contains entry.url %}
        class="current"
        {% elsif entry.url == '/articles/' and page.url contains '/posts/' %}
        class="current"        
        {% endif %}>
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>