---
siteTitle: The Wargos
---

<!DOCTYPE HTML>
<!--
Vortex by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="is-preload">
    {% include "header.html" %}
    <div id="wrapper">
      <section class="banner">
        <div class="image" data-position="right">
          <img src="/images/banner.jpg" alt="" />
        </div>
        <div class="content">
          <h1>The Internet Home of <br/>Anna & John Wargo</h1>
          <ul class="actions special">
            <li>
              <a href="/about" class="button next">Learn More</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="main style1">
        <header class="small">
          <h2>Recent Posts</h2>
        </header>
        <div class="inner">
          <div class="posts">
            {{ content }}
          </div>
        </div>
      </section>
    </div>
    {% include "footer.html" %}
    {% include "scripts.html" %}
  </body>
</html>