section#main .image-full {
  max-width: 100%;
}

.box.post .header-link {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.box.post .article-link {
  position: relative;
  top: -0.4rem;
}
p.subhead {
  margin-bottom: 0;
}